In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('BankNote_Authentication.csv')

In [3]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [7]:
# Separating features and labels
X = df.drop(columns = 'class')
Y = df['class']

In [8]:
X

      variance  skewness  curtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

[1372 rows x 4 columns]

In [9]:
Y

0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: class, Length: 1372, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split_test_split

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3, random_state=0)

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
classifier = RandomForestClassifier()
classifier.fit(X_train, Y_train)

RandomForestClassifier()

In [14]:
y_pred = classifier.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score
score = accuracy_score(Y_test, y_pred)

In [17]:
score

0.9902912621359223

In [21]:
# Creating a pickle file using serialization
import pickle
pickle_out = open('classifier.pkl', 'wb')
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [29]:
df1 = pd.DataFrame(np.random.randn(9,4), columns = ['variance', 'skewness', 'curtosis', 'entropy'], index = None)
df1

   variance  skewness  curtosis   entropy
0 -1.159773  0.379587  0.240946  0.459348
1  0.492196  0.572028 -0.060870 -0.456515
2  0.002944 -0.278042  1.057048 -0.112529
3 -0.846713  0.080559  0.360888  0.790159
4  0.931452 -1.081518 -0.327877  1.310819
5  0.554075 -0.717965 -0.238029  1.209286
6  0.438115 -1.003555 -0.136431 -0.429133
7  0.142825  0.551952  0.674225  0.136816
8 -0.814611 -0.747398  1.132487 -1.568566

In [30]:
df1.to_csv('TestFile.csv')